body.light{

background:#fafafa;

transition:.4s;

}

body.dark{

background:#111;

color:white;

transition:.4s;

}

.hero{

height:500px;

background:url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?w=1200");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

}

.overlay{

position:absolute;

bottom:25px;

left:20px;

right:20px;

padding:0;

background:none;

backdrop-filter:none;

}

.overlay h1{

font-size:34px;

font-weight:700;

color:white;

line-height:40px;

margin-bottom:20px;

}

.overlay span{

display:block;

color:#ff5b28;

}

.overlay input{

width:100%;

padding:16px;

border:none;

border-radius:50px;

margin:25px 0;

font-size:17px;

}

.buttons{

display:flex;

gap:15px;

}

.book{

flex:1;

height:52px;

background:#E85D04;

border-radius:15px;

font-weight:600;

color:white;

}

.order{

flex:1;

height:52px;

background:white;

border:2px solid #d9d9d9;

border-radius:15px;

font-weight:600;

}

.book:hover{

transform:translateY(-4px);

box-shadow:0 15px 30px rgba(232,93,4,.4);

}

.order:hover{

transform:translateY(-4px);


}
.section{

padding:20px;

}

.title{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.cards{

display:flex;

gap:15px;

overflow-x:auto;

}

.card{

min-width:180px;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.4s;

}

.card:hover{

transform:translateY(-8px);

}

.card img{

height:140px;

object-fit:cover;

}

.card h4{

padding:10px;

}

.card p{

padding:0 10px 12px;

color:#888;

}
.searchBox{

background:white;

padding:14px 18px;

border-radius:15px;

box-shadow:0 8px 20px rgba(0,0,0,.12);

margin-bottom:18px;

}

.searchBox input{

width:100%;

border:none;

outline:none;

font-size:15px;

}
.bottomNav{

position:fixed;

bottom:0;

left:0;

right:0;

height:65px;

background:white;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 -5px 20px rgba(0,0,0,.1);

}

.bottomNav button{

border:none;

background:none;

font-size:24px;

cursor:pointer;

transition:.3s;

}

.bottomNav button:hover{

transform:scale(1.2);

color:#E85D04;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}